body {
  margin: 0;
  background-color: #0a192f;
}

.loader-outer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #020c1b;
  opacity: 1;
  transition: 0.25s;
}

.loader-outer-hidden {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.loader-test {
  background: #020c1b url(../src/assets/J.gif) no-repeat center center;
  background-size: 20%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.main-page {
  background-color: #0a192f;
  width: 100%;
  height: 100vh;
}
